<h1>All Journals</h1>

<ul>
    <% @journals.each do |j| %>
        <li>
            <%= link_to j.title, jour_path(j) %>
        </li>
    <% end %>
</ul>

<%= link_to "New Journal", new_jour_path %>